<app-menu [titulo]="'Home'">
    <!-- Header-->
    <header class="bg-dark py-5 header">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center header">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Capacitando pessoas com deficiência auditiva
                            através da educação online
                        </h1>
                        <p class="lead fw-normal text-white-50 mb-4">Estamos comprometidos em capacitar pessoas com
                            deficiência auditiva por meio da educação online, proporcionando-lhes as ferramentas e
                            recursos necessários para alcançar seus objetivos educacionais e profissionais.
                        </p>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                        src="/assets/imagens/img_vlibras.jpg" alt="..." /></div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder mb-0">Nossos Valores</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-collection"></i></div>
                            <h2 class="h5">Inovação Sustentável</h2>
                            <p class="mb-0">Acreditamos que a inovação é a chave para o progresso sustentável.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-building"></i></div>
                            <h2 class="h5">Integridade e Transparência</h2>
                            <p class="mb-0">Operamos com os mais altos padrões de integridade e transparência.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Excelência em Serviço ao Aluno</h2>
                            <p class="mb-0">O sucesso é medido pela satisfação do aluno.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Respeito e Diversidade</h2>
                            <p class="mb-0">Acreditamos que a diversidade enriquece nossa comunidade e promove uma
                                cultura de aprendizado e crescimento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial section-->
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">A PIEL torna a inclusão de alunos com deficiência auditiva nos
                            estudos online mais eficiente e acessível, simplificando o processo de cursar uma faculdade
                            EAD.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">Notícias do nosso Blog</h2>
                        <p class="lead fw-normal text-muted mb-5"> Confira as mais recentes notícias do nosso blog sobre acessibilidade nos estudos online.</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5" *ngFor="let noticia of noticias">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" [src]="noticia.img" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!">
                                <h5 class="card-title mb-3">{{ noticia.tituloNoticia }}</h5>
                            </a>
                            <p class="card-text mb-0">{{ noticia.textoNoticia }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</app-menu>