<app-menu>
    <div class="container-lista-disciplinas">
        <div class="items">
            <div class="items-head">
                <p>AVALIAÇÃO</p>
                <hr>
            </div>

            <div class="items-body">
                <div class="items-body-content" *ngFor="let avaliacao of avaliacoes" [ngClass]="{ 'fechada': avaliacao?.status === 'fechada', 'aberta': avaliacao?.status === 'aberta' }">
                    <span (click)="goToAvaliacao(avaliacao.idAvaliacao)">
                        {{ avaliacao.disciplina.nomeDisciplina }}
                        <span *ngIf="avaliacao?.status === 'fechada'"> ✔</span>
                        <span class="li_aberta" *ngIf="avaliacao?.status === 'aberta'">aberta</span>
                    </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</app-menu>